html {
    background-image: url("https://images5.alphacoders.com/956/thumb-1920-956578.jpg");
    background-size: cover;
    background-position: bottom;
    /* background-repeat: no-repeat; */
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Arvo', 'Times New Roman', Times, serif;
    color: palegoldenrod;
    -webkit-text-stroke: 1px burlywood;
}

p, a, li {
    font-family: Arial, Helvetica, sans-serif;
}

#index header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header a {
    color: forestgreen;
}

header p {
    text-align: center;
}

h1 {
    text-align: center;
}

#index ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#index li {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/ef/cb/e7/efcbe71e2a0258f9a98dc5556e2ecad8.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
}

#index li:hover {
    margin-top: 11px;
    box-shadow: none;
}

#index ul a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.btn {
    font-family: 'Arvo', 'Times New Roman', Times, serif;
    text-align: center;
    background-color: palegoldenrod;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid burlywood;
    text-decoration: none;
    color: brown;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

main {
    background-color: white;
    border-radius: 10px;
    height: 50%;
}

header div {
    display: flex;
    justify-content: space-between;
}

header div h1 {
    font-size: small;
}

header div a, header div button {
    align-self: center;
}